<h1>Welcome to GA</h1>

 <div class="container">
<h3>We're an educational company offering the following programs:</h3>
</div>



 <div class="container">
    <% @programs.each do |program| %>
        <div class="container">
        <%= link_to "#{program.longname}", program %>
        <%= link_to('Delete', program_path(program), method: :delete, :class => "btn btn-xs btn-danger")  if can?(:destroy, program) %>

          <%= link_to('Edit', edit_program_path(program), :class => "btn btn-xs btn-success")  if can?(:edit, program) %>
    </div>
    <% end %>
 </div>


